<module>
	<rawname>sccp_manager</rawname>
	<name>SCCP Manager</name>
	<version>14.1.0.0</version>
	<type>setup</type>
	<category>SCCP Connectivity</category>
	<publisher>Steve Lad</publisher>
	<publisher>Alex GP</publisher>
	<repo>extended</repo>
	<description>SCCP Phone and Extension Manager</description>
	<menuitems>
		<sccpsettings	sort="1">Server Config</sccpsettings>
		<sccp_adv	sort="2">System Parameters</sccp_adv>
		<sccp_phone	sort="3">Phones Manager</sccp_phone>
	</menuitems>
	<changelog>
		 * Version 14.1.0.0 * - Migrated to chan-sccp repo
		 * Version 14.0.0.1 * - Alfa Release new DB structure Add User mobility 
		 * Version 13.0.0.2 * - Release tested 
		 * Version 13.0.0.1 * - Alfa Release tested on freepbx v.13.0.192.16, v.14.0.1.5
	</changelog>
	<location>https://github.com/chan-sccp/sccp_manager</location>
	<supported>
		<version>13.0.0.2M</version>
	</supported>
	<info>https://github.com/chan-sccp/sccp_manager</info>
	<updateurl>https://chan-sccp.github.io/sccp_manager/update.json</updateurl>
	<license>GPL</license>
</module>
